

body, html {
  font-family: 'VT323', ;
  text-align: center;
  background-image: url()
}

h5, h4, h3 {
  font-family: 'VT323', ;
  text-align: center;
}

.robo-name {
  text-align: center;
}

.nav-wrapper {
  padding-bottom: 90px;
}

.nav-title {
  font-family: "Lobster";
  font-size: 70px;
  padding-top: .50%;
  align-content: center
}

.center-btn {
  text-align: center
}
