

body, html {
  text-align: center;
}

h5 {
  text-align: center;
}

.robo-name {
  text-align: center;
}

.nav-wrapper {
  padding-bottom: 90px;
}

.nav-title {
  font-family: "Lobster";
  font-size: 70px;
  padding-top: .50%;
  padding-left: 12%;
}

.center-btn {
  text-align: center
}
