
<h1 id="greeting">Your one stop shop for RoboSlaves!</h1>
<h2>They dont argue or complain, its the way they're programmed!<h2>

<ul>
  <li><a href="/robots" class="waves-effect waves-light btn-large">Robot Directory</a></li>
  <li><a href="/robots/new" class="waves-effect waves-light btn-large">Hire Robot</a></li>
</ul>
