
<h1>Your one stop shop for RoboSlaves!</h1>
<h2>They dont argue or complain, its the way they're programmed!<h2>

<ul>
  <li><a href="/robots">Robot Directory</a></li>
  <li><a href="/robots/new">Hire Robot</a></li>
</ul>
