<form action="/robots" method="post">
  <h3>Name of new RoboSlave:</h3>
  <h5>Name:</h5>
  <input type='test' name='robot[name]'/></textarea><br/>
  <h5>City:</h5>
  <input type='test' name='robot[city]'/></textarea><br/>
  <h5>State:</h5>
  <input type='test' name='robot[state]'/></textarea><br/>
  <h5>Birthdate:</h5>
  <input type='test' name='robot[birthdate]'/></textarea><br/>
  <h5>Date Hired:</h5>
  <input type='test' name='robot[datehired]'/></textarea><br/>
  <h5>Department:</h5>
  <input type='test' name='robot[department]'/></textarea><br/>
  <input value="submit" type='submit'/>
</form>
